<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registrar Categoria</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/registrarLibro.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/logo.png" alt="Logo">
            <h1>Rincón Literario</h1>
        </div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li><a th:href="@{/libro/listado}" style="text-decoration: none;">Catálogo</a></li>
                <li><a th:href="@{/mantenimiento}" style="text-decoration: none;">Mantenimiento</a></li>
                <li><a th:href="@{/reportes}" style="text-decoration: none;">Reportes</a></li>
                <li>
                    <a href="#" class="active" style="text-decoration: none;">
                        <img src="img/administrador.png" alt="Icono Admin">
                        <!-- <span th:text="${session.NombreAdmin}"></span> -->
                    </a>
                </li>
            </ul>
        </nav>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Registrar Categoría</h3>
                    </div>
                    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
                        <form th:action="@{/categoria/registrar}" th:object="${categoria}" method="post" onsubmit="return validarFormulario()">
                            <div class="form-group">
                                <label for="nombreCategoria">Nombre:</label>
                                <input class="form-control" type="text" th:field="*{nombreCategoria}" id="txtNomCategoria">
                            </div>
                            <a th:href="@{/categoria/listado}" class="btn btn-secondary">Regresar</a>
                            <button type="submit" class="btn btn-success">Registrar</button>
                        </form>

                        <script>
                            function validarFormulario() {
                                var nombre = document.getElementById('txtNomCategoria').value.trim();
                                if (nombre === '') {
                                    alert('Por favor, complete todos los campos.');
                                    return false;
                                }
                                return true;
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
